
* {
    margin: 0;
    padding: 0;
}
.adminpanelanimation-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: #f8f9fe;
}


.adminpanelanimation {
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    font-family: poppins,sans-serif;
    text-transform: uppercase;
    background: linear-gradient(90deg, #fff, #000, #fff);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 3s linear infinite;
    position: relative;
}

@keyframes shine {
    0% {
        background-position-x: -500%;
    }

    100% {
        background-position-x: 500%;
    }
}

/*  Checkout my other pens on  https://codepen.io/grohit/  */
